# АДМИНИСТРАТОР STRAPI (заполнить обязательно)
ADMIN_EMAIL=your_email@example.com
ADMIN_PASSWORD=your_strong_password
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=User

# TELEGRAM БОТ (заполнить, если не переданы готовые)
BOT_TOKEN=your_bot_token_here
STRAPI_API_TOKEN=your_strapi_api_token_here

# POSTGRESQL (не менять)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_PASSWORD=password

# STRAPI СЕКРЕТЫ (не менять)
APP_KEYS=uEuTai62s5brJfSqOQOl1Q==,XjGBSuZwPSv9OI/gVYuj6w==,GROcknhQwY9b/QgKdD09sQ==,KLtziZk2orFMzEw5Y7EPMQ==
API_TOKEN_SALT=R1i5HhSM2tJmXUVirjT52w==
ADMIN_JWT_SECRET=TX+i+vnY51lw1X/QtiLPSw==
JWT_SECRET=fdZH57626Cfk00MbFNQrAQ==